*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.main{
    height: 100%;
    background-color: #f7f7ff;
}
.sidepanel{
    position: fixed;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 20px;
    padding-top: 40px;
    transition: 0.5s;
    overflow: hidden;
    z-index: 10;
}
.sidepanel:hover{
    width: 300px;
}
.sidepanel a{
    text-decoration: none;
    color: #ab60f1;
    font-size: 26px;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.sidepanel a:hover{
    background-color:#f7f7ff ;
    color: black;
}
.sidepanel a:nth-child(1){
    background: none;
    margin-top: -20px ;
    margin-left: 0px;
    margin-bottom: 80px;
}
.toggle{
    margin-top: 10px;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before{
    content: ' ';
    position: absolute;
    height: 3px;
    width: 26px;
    border-radius: 3px;
    background-color: black;
    transform: translateY(-5px);
    transition: 1s;
}

.toggle::after{
    content: ' ';
    position: absolute;
    height: 3px;
    width: 26px;
    border-radius: 3px;
    background-color: black;
    transform: translateY(5px);
    transition: 1s;
}
.sidepanel.active .toggle::before{
    transform: translateY(0px) rotate(-405deg);
}
.sidepanel.active .toggle::after{
    transform: translateY(0px) rotate(225deg);
}
.sidepanel.active{
    width: 280px;
}
.fa, .fas, .far{
    min-width: 60px;
    color: black;
}
.sidepanel a{
    margin: 10px;
    white-space: nowrap;
    padding: 10px;
}
.sidepanel .title{
    padding: 0px 10px;
    text-align: start;
    
}
.fa-paper-plane:hover{
    transition: 0.9s;
    transform: rotate(360deg);
}

.fa-hourglass:hover{
    transition: 1.5s;
    transform: rotateX(180deg);
    /* transform: translateX(10px); */
}
.fa-user-ninja:hover{
    transition: 0.88s;
    transform: translate(10px);
}
.circle1{
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 1%;
    left: 2%;
    border-radius: 50%;
    background-color: #b5eeff;
}
.circle2{
    height: 25rem;
    width: 25rem;
    position: fixed;
    bottom: -10%;
    right: -5%; 
    border-radius: 50%;
    background-color: #ceafee;
}
.circle3{
    height: 2rem;
    width: 2rem;
    position: absolute;
    bottom: 1%;
    left: 40%; 
    border-radius: 50%;
    background-color: #5b347d;
}
.circle4{
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 2%;
    right: 40%; 
    border-radius: 50%;
    background-color: #d08ff6;
}
.circle5{
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 1%;
    right: 12%; 
    border-radius: 50%;
    background-color: #f9d0e7;
}
.dashboard{
    margin-left: 300px;
    display: flex;
    padding: 30px;
}
.top-dash{
    display: flex;
    justify-content: space-between;
}
.main-dash{
    width: 800px;
    padding-right: 80px;
    z-index: 3;
}
.top-dash input{
    height: 40px;
    width: 350px;
    padding: 10px;
    border: none;
    border-radius: 15px;
}
.fa-search{
    margin-left: -30px;
    color: grey;
}
.day-overview{
    display: flex;
    margin-top: 50px; 
    width: 800px;
}
.day-overview p{
    font-size: 18px;
    font-weight: 700;
}
.day-box{
    cursor: pointer;
    width: 200px;
    height: 130px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    background-color: white;
}
.day-box:hover{
    background-color: #ff8902;
}
.wrap{
    display: flex;
    margin-top: 20px;
}
.wrap p{
    margin-top: 20px;
    margin-left: 10px;
}
.overall{
    display: flex;
    margin-top: 50px;
}
.overview{
    width: 350px;
    display: flex;
    padding:20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20px;
    cursor: pointer;
}
.fa-calendar-check, .fa-calendar-alt{
    font-size: 50px;
    color: #4a6376;
    padding-left: 20px;
    padding-top: 12px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.overview h2{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #3124ad;
}
.overview p{
    font-size: 32px;
    margin: 20px;
}
.overview:hover{
    background-color: white;
}
.this-month-overview{
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    margin-left: 50px;
    height: 250px;
    width: 500px;
    margin-top: 30px;
    background-color: white;
    cursor: pointer;
}
.this-month-overview img{
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
}
.this-month-overview p{
    font-weight: 700;
    font-size: 18px;
}
.this-month-overview:hover{
    background-color: #f7f7ff;
}
.report img{
    margin-top: 50px;
    width: 800px;
    height:500px;
    margin-left: -80px;
}
.side-dash{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 700px;
    background-color: white;
    z-index: 3;
}
.profile{
    display: flex;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    cursor: pointer;
}
.profile img{
    border-radius: 50%;
}
.fa-comment,.fa-bell{
    font-size: 26px;
    margin-top: 20px;
}
.calendar p{
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 75px;
}
.enjoy img{
    margin-top: 100px;
}