.circle1, .circle5{
    display: none;
}.habit{
    margin-left: 300px;
    padding-top: 50px;
    display: flex;
    font-size: 16px;
}
.main-habit{
    height: 100%;
    width: 70%;
    padding: 20px;
}
.main-habit-header p{
    color: #a3a8b7;
    margin-top: 15px;
}
.habit-overview{
    display: flex;
}
.addnew{
    padding: 20px;
    background-color: white;
    font-size: 18px;
    color: #2793f8;
    border-radius: 15px;
    height: 60px;
    width: 200px;
    margin-left: 80px;
    margin-top: 40px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}
.overview{
    background-color: #eef2fb;
    height: 60px;
    width: 500px;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 7px;
    padding-left: 10px;
    display: flex;
}
.overview button{
    font-size: 18px;
    background-color: #eef2fb;
    color: #aeb4bd;
    border: none;
    margin-right: 10px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.overview .week{
    background-color: white;
    height: 45px;
    width: 150px;
    color: black;
}
.overview button:hover{
    background-color: white;
}
.prev{
    background-color: white;
    padding: 8px 16px;
    border-radius: 50%;
    cursor: pointer;
}
#file{
    height: 15px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.progress{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.fa-arrow-up{
    color: green;
    font-size: 22px;
}
.weekdays{
    display: flex;
    margin-left: 150px;
}
.weekdays p{
    margin-right: 50px;
    font-size: 22px;
}
.habit-label{
    display: flex;
    margin: 40px  40px  40px 0px;
}
.habit-label p{
    font-size: 18px;
    margin-right: 80px;
    font-weight: 800;
}
.grey-box, .whtie-box,.voilet-box,.orange-box,.blue-box,.green-box,.pink-box{
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin: 0px 40px 40px 0px;
}
.grey-box{
    background-color: #e0e6f4;
}
.whtie-box{
    background-color: #f7f7ff;
}
.voilet-box{
    background-color: #9b5cfe;
}
.orange-box{
    background-color: #fd9f31;
}
.blue-box{
    background-color: #3495fa;
}
.green-box{
    background-color: #08e1e0;
}
.pink-box{
    background-color: #ff4ec5;
}

.today-habit{
    height: 100%;
    width: 30%;
    padding: 20px;
    z-index: 10;
    display: none;
}
.today-habit p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.habit-task{
    border: 3px solid #dce8f8 ;
    padding: 20px;
    height: 100%;
    border-radius: 15px;
    
}
.done{
    margin-bottom: 80px;
    border-left: 5px solid orange;
    padding:20px;
    border-radius: 5px;
    cursor: pointer;
}
.habit-streak{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}
.done button{
    width: 230px;
    padding: 10px;
    color: #2793f8;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dce8f8;
    font-size: 15px;
    font-weight: 800;
}
.habit2, .habit2 button,.habit3, .habit3 button,.habit5, .habit5 button{
    background-color: #3495fa;
    color: white;
    border-radius: 15px;
    border: none;
}
.habit3, .habit3 button{
    background-color: #ff4ec5;
}
.habit5, .habit5 button{
    background-color: #fd9f31;
}
.streak{
    font-size: 22px;
}
.habit-streak .fa{
    margin-right: 5px;
}
.habit-streak .fa-heartbeat,.habit-streak .fa-book-reader{
    margin-right: -30px;
}
.habit1:hover, .habit4:hover, .habit6:hover{
    background-color: white;
}
.addnewhabit{
    position: fixed;
    left: 900px;
    bottom: 5px;
    height: 100vh;
    width: 580px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color:white;
    display: none;
    animation-name: down;
    animation-duration: 3s;
}
@keyframes down{
    0%{transform: translateX(1200px);}
    50%{transform: translateX(15px);}
}
.habitname{
    display: flex;
}
.design p{
    height: 140px;
    width: 20px;
    background-color: rgb(51, 192, 255);;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 40px;
}
.habitnamemain{
    margin-top: 20px;
}
.addnewhabit h2{
    margin-top: 50px;
}
#habitdescription, #habitname{
    border: none;
    outline: none;
    font-size: 26px;
    padding-top: 5px;
    margin-top: 10px;
}
#todohabit, #notdohabit{
    margin-top: 40px;
    font-size: 24px;

}
#notdohabit{
    margin-left: 20px;
}
.weeklyfreq button{
    margin-top: 40px;
    margin-left: 20px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
}
.weeklyfreq button:hover{
    background-color: white;
    color: black;
}
#appt{
    margin-top: 40px;
}
#timelabel{
    font-size: 22px;
    margin-right: 20px;
}
#addhabit{
    background-color: #ffa031;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: white;
    margin-top: 50px;
    margin-left: 250px;
    font-size: 22px;
    cursor: pointer;
}

#close{
    background-color: #eff0f3;
    height: 10px;
    width: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
    color: #4f5a64;
    position:relative;
    top: -9px;
    left: 120px;
    cursor: pointer;
}


#habitlist li{
    margin-top: 20px;
    list-style: none;
    font-size: 24px;
}

#checktue, #checkthu, #checksat, #checksun{
    margin-left: 60px;
    height: 20px;
    width: 20px;
}
#checkmon{
    margin-left: 40px;
    height: 20px;
    width: 20px;
}

#checkwed, #checkfri{
    margin-left: 70px;
    height: 20px;
    width: 20px;
}