*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: 225px;
    background-image: url(footer.png),linear-gradient(36deg,#fcb139,#fcb139);
    background-position: 2% 85%,0 0%;
 
}
.logo{
    display: flex;
    margin: 50px;
}
.logo h1{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 1.6vw;
}
.nav{
    margin: 50px 50px 10px 0px;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.login-btn{
    width: 80px;
    height: 32px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 900;
    cursor: pointer;
}
.hero-row,.journal-row{
    display: flex;
    font-size: 22px;
    margin-bottom: 150px;
}
.hero-left{
   padding: 200px 200px 50px 150px;
}
.hero-left h1,.journal h1{
    margin-bottom: 20px;
}
.time-img{
    width: 1500px;
    height: 600px;
    margin: 20px;
}
.try-btn{
    width: 70px;
    height: 35px;
    background-color: #fcb139;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.remind-btn{
    background-color: #eef4f9;
    color: black;
    width: 120px;
    height: 35px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.meditate-row{
    display: flex;
    background-color: #80cfff;
    border-radius: 60px;
    margin: 30px;
    height: 650px;
}
.meditate-row img{
    padding: 10px ;
    margin-left: -10px;
    border-radius: 60px;
}
.meditate-right{
    padding: 200px 100px 10px 0px;
    color: white;
    font-size: 22px;
}
.text{
    color: orange;
}
.text-2{
    color: black;
}
.meditate-right p{
    margin: 20px 0px 20px 0px;
}
.works-row{
    margin-top: 150px;
    margin-bottom: 150px;
}
.head{
    text-align: center;
    margin-bottom: 50px;
}
.head-para{
    font-size: 20px;
    color: grey;
    margin: 20px 0px 20px 0px;
}
.steps{
    display: flex;
    width: 100%;
    padding: 20px;
}
.goals, .cue, .progress{
    margin-left: 150px;
}
.steps p{
    margin: 20px 0px 20px 0px;
    font-size: 18px;
    color: grey;
}
.report-row,.journal-row{
    display: flex;
    border-radius: 60px;
    margin: 150px 50px 50px 50px;
    padding: 40px;
    height: 600px;
}
.habit-row{
    display: flex;
    color: black;
    margin: 50px;
    border-radius: 60px;
}
.habit-row img{
    border-radius: 60px;
}
.report-right,.habit{
    padding: 100px;
    font-size: 22px;
}
.report-row p,.habit p{
    margin: 20px 0px 20px 0px;
}
.journal-row{
    background-color: #f0c419;
    color: black;
}
.journal{
    padding-top: 150px;
    padding-left: 100px;
}
.journal h1{
    color: white;
}
footer{
    background-color:aliceblue;
    display: flex;
    height: 400px;
    justify-content: space-between;
    padding: 100px;
}
.features{
    display: flex;
    flex-direction: column;

}
.features h1{
    margin-bottom: 10px;
    font-size: 44px;
}
.features a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin: 3px;
}
.social-icons{
    font-size: 22px;
 
}
.social-icons a{
    text-decoration: none;
    color: black;
    margin: 20px;
}
.subs{
    width: 400px;
    
}
.subs h1{
    margin-bottom: 20px;
}
#email {
    width: 250px;
    height: 50px;
    border: none;
    border-radius:10px;
    padding: 15px;
   
}
.subs button{
    width: 100px;
    height: 40px;
    background-color: #FD346E;
    color: white;
    border: none;
    border-radius: 15px;
}
.logo-footer{
    display: flex;
}
.logo-footer h1{
    margin-top: 10px;
    margin-left: 15px;
}

@media (max-width: 1550px) {
    .body{
        height: auto;
        width: auto;
    }
}
@media (max-width: 992px) {
    .body{
        height: auto;
        width: auto;
    }
}
@media (max-width: 768px) {
    .body{
        height: auto;
        width: auto;
    }
}
@media (max-width: 576px) {
    .nav{
        width: 850px;
    }
    .logo img{
        display: none;
    }
}