.journal{
    margin-left: 500px;
    padding-top: 20px;
}
.journal button{
    padding: 10px;
    font-size: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 15px;
    margin: 5px 5px 40px 5px ;
    background-color: white;
}
.welcome{
    font-size: 18px;
    color: #565657;
    margin-bottom: 20px;
}
.quotes,.insights{
    padding: 20px;
    width: 600px;
    font-size: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 15px;
    text-align: center;
    margin-top: 40px;
}
.insights{
    display: flex;
}
.insights p{
    padding-left: 40px;
}
h2{
    margin-top: 40px;
    margin-bottom: 40px;
}
.main-cont{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.main-cont button{
    width: 500px;
}
.days{
    display: flex;
    padding: 20px;
    
}
.date{
    height: 60px;
    width: 60px;
    padding: 10px;
    margin-right: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.days h5{
    margin-top: 20px;
}
.reflection h3{
    font-size: 24px;
    margin-top: 20px;
}
.reflection p{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}