.circle3{
    display: none;
}
.journal{
    margin-left: 350px;
    padding-top: 20px;
}
.journal button{
    padding: 10px;
    font-size: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 15px;
    margin: 5px 5px 40px 5px ;
    background-color: white;
}
/* .welcome{
    font-size: 18px;
    color: #565657;
    margin-bottom: 20px;
}
.quotes,.insights{
    padding: 20px;
    width: 600px;
    font-size: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 15px;
    text-align: center;
    margin-top: 40px;
}
.insights{
    display: flex;
}
.insights p{
    padding-left: 40px;
}
h2{
    margin-top: 40px;
    margin-bottom: 40px;
} */
.allnotes{
    display:flex;
    margin-top: 50px;
}
.main_notes{
    height: 400px;
    width: 300px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 15px;
    background-color: white;
    margin-right: 80px;
    margin-bottom: 50px;
}
.date{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.heading{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
.tags button{
    background-color: #e8e8e8;
    box-shadow: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
    margin-top: 20px;
}
.row-1{
    display: flex;
}

.addnotes{
    font-size: 22px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    height: 60px;
    width: 230px;
    position: fixed;
    left: 600px;
    bottom: 50px;
    background-color: #007bff;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
} 
.fa-plus{
    margin-right: 10px;
   
}