.main{
    position: fixed;
}
.circle1, .circle5{
    z-index: -5;
}

.profile{
    margin-left: 320px;
    display: flex;
    padding-top: 50px;
    
}
.profile-card{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}
.profile img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 50px;
}
.profile-card h2{
    margin-top: 20px;
    margin-bottom: -30px;
    margin-left: 30px;
    color: #fe8018;
}
.profile-card span{
    margin-left: -43px;
    color:#fe8018;
}
.profile-card input{
    width: 220px;
}
#name, #phonenumber, #email, #password{
    padding: 10px;
    margin: 10px 10px 0px 30px;
}
#name, #phonenumber{
    margin-top: 60px;
}
#email, #password{
    margin-bottom: 30px;
}
.save{
    margin-top: 50px;
    /* margin-left: 200px; */
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    width: 80px;
    border: none;
    background: linear-gradient(to bottom right, #fe8018, #fe4c68);
    color: white;
    cursor: pointer;
}
.savendel{
    margin-left: 150px;
}
.profile-right{
    margin-left: 100px;
}
.bio, .progress, .personality{
    backdrop-filter: blur(5px);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    font-size: 18px;
    border-radius: 15px;
    width: 500px;
    padding: 20px;
    margin-bottom: 100px;
}
.achieved{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.bio h3,.personality h2{
    margin-bottom: 20px;
}
.edit{
    margin-left: -50px;
    font-size: 14px;
    color: #fe8018;
    text-decoration: underline;
    cursor: pointer;
}
.tag{
    display: flex;
    justify-content: space-between;
}
#progress{
    width: 100%;
}
.tag-line{
    margin-left: 40px;
}
.tag-line h2{
    margin-bottom: 20px;
    margin-left: -10px;
}
.tag-line button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: white;
    border: none;

}