* {
	margin: 0;
	padding: 0px;
	font-family: 'Ubuntu', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 20px;
}
.form-box h1{
	margin-top: 20px;
	font-size: 40px;
}
.title{
	top: 20px;
    color: #fcb139;
	font-size: 40px;
}
.tagline{
	font-size: 	19px;
	color: grey;
}
.form-box {
	width: 400px;
	height: 660px;
	position: relative;
	margin: 6% auto;
	padding: 5px;
	overflow: hidden;
	background-color:aliceblue;
	border-radius: 15px;
	text-align: center;
}
.button-box {
	width: 220px;
	height: 40px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px white;
	border-radius: 30px;
}
.toggle-btn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background-color: #fcb139;
	border-radius: 30px;
	transition: .5s;
}

.input-group {
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field {
	width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    padding-left: 15px;
    border-right: 5px solid #fcb139;
    font-size: 16px;
} 
.check-box {
	margin: 30px 10px 20px 0;
}
.submit-btn {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin-top:  20px;
	margin-left: 20px;
	background-color: #fcb139;
	border-radius: 5px;
	border: none;
	font-weight: 700;
    font-size: 17px;
}
.check-box{
	margin-top: 40px;
}
span {
	color: #777;
	font-size: 12px;
	margin-top: -10px;
}
.other-signin{
	height: 300px;
	margin-left: -20px;
}
.or{
	margin-top: 350px;
	margin-left: -20px;
}
.fa{
	
    margin: 20px;
    height: 38px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    color: black;
    padding-top: 10px;
    font-size: 28px;
    cursor: pointer;
}
#login {
	left: 50px;
}
#register {
	left: 450px;
}

/* input:invalid {
	border-color: red;
} */

input:valid {
	border-color: green;
}
