*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
}
.main-container{
    height: 100vh;
    background-color: #f7f7ff;
    display: flex;
    justify-content: center;
    align-items:center;
}
.dashboard{
    z-index: 3;
    height: 100vh;
    width: 100%;
} 
.circle1{
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 1%;
    left: 2%;
    border-radius: 50%;
    background-color: #b5eeff;
}
.circle2{
    height: 25rem;
    width: 25rem;
    position: fixed;
    bottom: -10%;
    right: -5%; 
    border-radius: 50%;
    background-color: #ceafee;
}
.circle3{
    height: 2rem;
    width: 2rem;
    position: absolute;
    bottom: 1%;
    left: 40%; 
    border-radius: 50%;
    background-color: #5b347d;
}
.circle4{
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 2%;
    right: 40%; 
    border-radius: 50%;
    background-color: #d08ff6;
}
.circle5{
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 1%;
    right: 12%; 
    border-radius: 50%;
    background-color: #f9d0e7;
   
}
.sidepanel{
    position: fixed;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 20px;
    padding-top: 40px;
    transition: 0.5s;
    overflow: hidden;
}
.sidepanel input{
    display: none;
}
.sidepanel input:checked ~ .task-page{
    /* display: none; */
    opacity: 1;
}
.task-page{
    animation-name: hide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.sidepanel:hover{
    width: 300px;
}
.sidepanel a{
    text-decoration: none;
    color: #ab60f1;
    font-size: 26px;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.sidepanel a:hover{
    background-color:#f7f7ff ;
    color: black;
}
.sidepanel a:nth-child(1){
    background: none;
    margin-top: -20px ;
    margin-left: 0px;
    margin-bottom: 80px;
}
.toggle{
    margin-top: 10px;
    height: 50px;
    width: 50px;
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before{
    content: ' ';
    position: absolute;
    height: 3px;
    width: 26px;
    border-radius: 3px;
    background-color: black;
    transform: translateY(-5px);
    transition: 1s;
}

.toggle::after{
    content: ' ';
    position: absolute;
    height: 3px;
    width: 26px;
    border-radius: 3px;
    background-color: black;
    transform: translateY(5px);
    transition: 1s;
}
.sidepanel.active .toggle::before{
    transform: translateY(0px) rotate(-405deg);
}
.sidepanel.active .toggle::after{
    transform: translateY(0px) rotate(225deg);
}
.sidepanel.active{
    width: 280px;
}
.sidepanel .fa, .sidepanel .fas, .sidepanel .far{
    min-width: 60px;
    color: black;
}
.sidepanel a{
    margin: 10px;
    white-space: nowrap;
    padding: 10px;
}
.sidepanel .title{
    padding: 0px 10px;
    text-align: start;
    
}
.fa-paper-plane:hover{
    transition: 0.9s;
    transform: rotate(360deg);
}

.fa-hourglass:hover{
    transition: 1.5s;
    transform: rotateX(180deg);
    /* transform: translateX(10px); */
}
.fa-user-ninja:hover{
    transition: 0.88s;
    transform: translate(10px);
}
.task-page{
    margin-left: 450px;
}
.head{
    display: flex;
    justify-content: space-between;
    background-color: #cfd8e9;
    padding-right: 150px;
}
.top{
    margin: 10px 0px 80px -90px;

}
.top-1{
    font-size: 36px;
}
.dot{
    color: #0083ff;
    font-size: 48px;
}
.top-2{
    color: #676262;
    margin-bottom: 50px;
    font-size: 26px;
}
.date-task{
    display: flex;
    font-size: 26px;
}
.date{
    margin-left: 12px;
    font-weight: 900;
    font-size: 26px;
}
.day{
    color: #676262;
    font-size: 22px;
}
.add-task{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 22px;
}
.fa-check{
    color: green;
    margin-right: -0px;
}
#add-task{
    width: 450px;
    height: 45px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 25px;
    padding: 20px;
}
.addbtn{
    width: 80px;
    height: 38px;
    background-color: #0083ff;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 28px;
    margin-left: 20px;
}
.main-cont{
    margin-left: -100px;
}
.headers {
    display: flex;
    justify-content: space-between;
    width: 740px;

}

.task-list {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-top: 2em;
    margin-left: -20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background-color: rgba(255, 255, 255, 0.3);
}
.task-list p{
    padding: 15px;
}
.task-list:hover{
    background-color: #dadada;
    border-radius: 5px;
}
.start{
    background-color: #0083ff;
    width: 80px;
    height: 40px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.task-notes{
    position: relative;
    left: 500px;
    bottom: 800px;
    height: 700px;
    width: 500px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color:white;
    opacity: 0;
}
#checkbox{
    transform: scale(8.5,4);
    position: relative;
    bottom: 510px;
   left: 1300px;
   z-index: 6;
   opacity: 0;
   cursor: pointer;
}
input:checked ~ .task-notes{
    opacity: 1;
    z-index: 7;
    animation-name: down;
    animation-duration: 3s;
 
}

@keyframes down{
    0%{transform: translateY(-1000px);}
    50%{transform: translateY(-10px);}
}

.task-notes button{
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-top: 40px;
    border: none;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.task-notes button:hover{
    background-color:aliceblue;
}
#Priority, #date{
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 8px;
    font-size: 16px;
}
#date{
    margin-left: 100px;
}
#notes{
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
}
.task-notes h3{
    margin-bottom: 20px;
    margin-top: 20px;
}
#radio{
    position: relative;
    bottom: 5px;
    
}
.task-notes p, #sub-task{
    color: #aaaaaa;
    position: relative;
    bottom: 5px;
    left: 5px;
}
.fa-bell, .fa-bell,.fa-user,.fa-suitcase{
    margin-right: 15px;
}
.files{
    border: 1px dotted grey;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
/* .task-bg{
    height: 700px;
    width: 500px;
    border: 1px solid black;
} */