.main {
  position: fixed;
}

.task-page {
  margin-left: 360px;
}

.top {
  margin: 10px 0px 40px 40px;
}

.top-1 {
  font-size: 36px;
  font-weight: 900;
}

.dot {
  color: #0083ff;
  font-size: 48px;
}

.top-2 {
  color: #d8d8d8;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 900;
}

.date-task {
  display: flex;
  font-size: 26px;
  margin-top: -30px;
}

.date {
  /* margin-left: 5px; */
  font-weight: 900;
  font-size: 41.31px;
}

.day,
.month {
  font-size: 22px;
}

.date-task p {
  margin-top: -20px;
}

#add-task {
  width: 455px;
  height: 45px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 4px 0px, rgba(0, 0, 0, 0.08) 0px 2px 18px 0px;
  font-size: 16px;
  margin-left: 40px;
  margin-top: 25px;
  padding: 20px;
  outline: none;
}

#addbtn {
  width: 80px;
  height: 38px;
  background-color: #0083ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 28px;
  margin-left: 20px;
}

.taskcategory {
  display: flex;
}

.taskcategory h3 {
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 30px;

}

#openTask {
  margin-left: 50px;
  /* border: 1px solid #6e6e6e; */
}

#cathr {
  width: 750px;
  margin-left: 40px;
}

.tasktablehead {
  width: 935px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  font-weight: 600;
  font-size: 16px;
}

.detailsCard {
  display: none;
  background-color: white;
  width: 500px;
  height: 350px;
  position: absolute;
  top: 200px;
  left: 400px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  animation-name: out;
  animation-duration: 1.25s;
}

@keyframes out {
  0% {
    transform: translateX(1200px);
  }
}

.detailsCard h2 span {
  float: right;
  cursor: pointer;
}

.detailsCard button {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.detailsCard button:hover {
  background-color: aliceblue;
}

.detailsCard input,
.taskdetailsdiv input {
  margin-left: 10px;
  width: 100px;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  width: 135px;
}

#Priority, #Prioritytd {
  border: none;
  outline: none;
  font-size: 18px;
}


.detailsCard h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

#radio {
  position: relative;
  bottom: 5px;

}

.detailsCard p {
  color: #aaaaaa;
  position: relative;
  bottom: 5px;
  left: 5px;
}

.files {
  border: 1px dotted grey;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

#deletebtn,
#checkmark {
  background-color: red;
  border-radius: 15px;
  border: none;
  color: white;
  text-align: center;
  height: 50px;
  width: 55px;
  position: relative;
  left: 100px;
  cursor: pointer;

}

#checkmark {
  background-color: #0083ff;
  color: white;
  margin: 20px;
  font-size: 26px;
  font-weight: 900;
}

#tasklist li {
  list-style: none;
  background-color: white;
  margin: 30px;
  width: 850px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: 900; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 18px 0px;

}
#authorize_button{
  background-color: #0083ff;
  color: white;
  border: none;
  padding:5px;
  border-radius: 5px;
  position: relative;
  left: 200px;
}
#content{
  display: none;
}
#habitpriority {
  position: relative;
  left: -110px;
}

#timeleft {
  position: relative;
  left: -50px;
}

#Due {
  position: relative;
  left: 40px;
}

#play {
  position: relative;
  left: 95px;
  color: #5050f8;;
  font-size: 22px;
}

#cancel,
#savetask {
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  position: absolute;
  top: 280px;
  left: 220px;
  cursor: pointer;

}

#cancel {
  background-color: black;
  margin-left: 80px;
}

#savetask {
  background-color: #0083FF;
}
.fa-calendar-check,.fa-warning,.fa-calendar-check, .fa-hourglass-start,.fa-hourglass-end{
  margin-right: 5px;
  
}
.detailsCard i, .taskdetailsdiv i{
  color: #0083ff;
}




/* taskdetailsdiv */
.taskdetailsdiv {
  display: none;
  width: 550px;
  height: 800px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 500px;
  padding: 30px;
}

#tasknamedetails {
  display: block;
  border: none;
  height: 50px;
  width: 400px;
  /* padding: 15px; */
  /* margin-top: 20px; */
  margin-left: -10px;
  font-size: 22px;
  font-weight: 900;
}

.taskdetailsdiv button {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.taskdetailsdiv button:hover {
  background-color: aliceblue;
}

.fa-bell,
.fa-hashtag,
.fa-user {
  margin-right: 10px;
  width: 10px;
  height: 10px;
}

.taskdetailsdiv input {
  margin-left: 20px;
}

#notesh3 {
  margin-top: 20px;
}

#notes, #notestd {
  border: none;
  font-size: 16px;
  margin-bottom: -10px;
  padding-top: 15px;
}
#canceldetailsdiv, #savedetailsdiv{
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  position: absolute;
  top: 725px;
  left: 350px;
  cursor: pointer;

}

#canceldetailsdiv {
  background-color: black;
  margin-left: 80px;
}

#savedetailsdiv {
  background-color: #0083FF;
}



/* timer css */


.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 24px;
  top: 50px;
  left: -50px;
}

.btn-group {
  display: flex;
  align-items: center;
  height: 10%;
  margin-left: 70px;
  margin-top: 100px;
}

.btn-group button {
  border-radius: 8px;

}

.break {
  background: rgb(0, 199, 116);
  color: #000000;
}

.reset {
  background: rgb(250, 69, 109);
  color: #000000;
}

.pause {
  background: rgb(253, 143, 17);
}

.resume {
  background: rgb(131, 10, 252);
  color: white;
}


.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(51, 65, 255);
}


.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }

  50% {
    transform: rotate(-90deg) scale(1.05);
  }

  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}


/* to do button css*/
.taskname *,
.taskname *::before,
.taskname *::after {
  box-sizing: border-box;
}
#nametask{
  margin-top: 2.5px;
  font-weight: 900;
  cursor: pointer;
}
.taskname{
  display: flex;
  position: relative;
  left: -200px;
}
.taskname label {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.taskname input {
  visibility: hidden;
  display: none;
}

.taskname input:checked ~ .checkbox {
 transform: rotate(45deg);
 width: 14px;
 margin-left: 12px;
 border-color: #24c78e;
 border-top-color: transparent;
 border-left-color: transparent;
 border-radius: 0;
}

.taskname .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 3px solid #434343;
  border-radius: 6px;
  transition: all 0.375s;
}